.accordion-title {
  background-color: $light-gray;
  color: $primary;
  width: 100%;
  text-align: left;
  padding: $unit *2;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
  }

  .accordion-icon {
    font-size: $unit *3;

    &.minus {
      display: none;
    }
  }

  &.is-open {
    .plus {
      display: none;
    }
    .minus {
      display: flex;
    }
  }
}

.accordion-content {
  display: none;
  background-color: $light-gray;
  padding: $unit *2;

  img {
    margin: $unit 0;
  }

  p {
    margin: 0;
  }
}
