.paragraph--type--image-paragraph {
  .image-paragraph-image {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .field__label {
    font-weight: bold;
    color: $primary;
    margin-left: -$unit;
  }
}
