.paragraph--type--image-paragraph {
  .image-paragraph-container {

    .paragraph-image {
      width: 680px;
      height: 350px;
      display: contents;

      @include breakpoint($palm) {
        display: block;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .field__label {
    font-weight: bold;
    color: $primary;
    margin-left: -$unit;
  }
}
