.field--name-field-p-ig-item {
  @include breakpoint($lap) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .field__item {
    position: relative;
    width: 100%;
    margin-right: $unit / 2;

    &.wide {
      @include breakpoint($lap) {
        width: 60%;
      }
    }

    &.default {
      @include breakpoint($lap) {
        width: 30%;
      }
    }
  }

  .grid-image-container {

    img {
      width: 100%;

      &.linked {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .caption {
      background-color: transparentize($primary, 0.2);
      color: $white;
      text-align: left;
      float: right;
      position: absolute;
      right: 0;
      top: $unit * 3;
      z-index: 1;
      padding: 0 $unit;
    }
  }
}
