.paragraph--type--instructions {
  .instructions {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 0;
    margin: $unit;

    @include breakpoint($lap) {
      margin: 0;
    }

    .instruction {
      counter-increment: my-awesome-counter;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include breakpoint($lap) {
        flex-direction: row;
      }

      &:before {
        color: $secondary;
        font-size: $xlarge-font;
        content: counter(my-awesome-counter);
        align-items: start;
        display: flex;
      }

      .paragraph {
        display: flex;
        flex: 0 85%;

        p {
          margin-top: 0;
        }
      }
    }
  }
}
