.instructions {
  list-style: none;
  counter-reset: instruction-counter;
  padding-left: 0;
  margin: $unit;

  @include breakpoint($lap) {
    margin: 0;
  }

  .instruction {
    counter-increment: instruction-counter;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint($lap) {
      flex-direction: row;
    }

    &:before {
      color: $secondary;
      font-size: $xlarge-font;
      content: counter(instruction-counter);
      align-items: start;
      display: flex;
    }

    .paragraph--type--instruction {
      display: flex;
      flex: 0 85%;

      p {
        margin-top: 0;
      }
    }
  }

  .method-heading {
    color: $secondary;
  }
}
