.paragraph--type--slideshow .swiper-container {
  background-color: $primary;

  .swiper-slide {
    height: 550px;
    text-align: center;
    font-size: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .swiper-text {
      display: flex;
      flex-direction: column;
      background-color: transparentize($primary, 0.2);
      font-size: $xlarge-font;
      font-weight: 600;
      padding: $unit * 3;
      line-height: 20px;
      align-self: center;
      width: 90%;

      @include breakpoint($lap) {
        width: 40%;
      }

      p {
        display: inline;
        font-size: $medium-font;
        padding-top: 0;
        color: $light-gray;
      }

      h2 {
        margin: 0;
        padding-bottom: $unit;
        color: $light-gray;
      }

      .swiper-button {
        font-size: $small-font;
        margin: 0 auto;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: $light-gray;
  }
  .swiper-pagination-bullet-active {
    background-color: $secondary;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $gray;
    display: none;

    &:hover,
    &:focus {
      color: $secondary;
    }

    @include breakpoint($lap) {
      display: block;
    }
  }
}
