.breadcrumb {
  font-size: $small-font;
  color: $dark-gray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;

  a {
    color: $dark-gray;

    &:hover,
    &:focus {
      color: $primary;
      text-decoration: underline;
    }
  }
}
