.menu {
  overflow: hidden;
  background-color: $primary;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($lap) {
    display: block;
  }

  &.responsive {
    display: block;

    .menu-content {
      flex-direction: column;

      @include breakpoint($lap) {
        display: flex;
        flex-direction: row;
      }
    }

    .menu-item {
      display: block;
    }

    .expanded-container {

      &:hover .sub-menu {
        display: block;
      }

      .sub-menu {
        position: relative;
        top: 0;
        display: block;
        text-indent: 10px;

        @include breakpoint($lap) {
          display: none;
          text-indent: 0;
        }
      }

      .menu-item {
        display: block;
        width: 100%;
      }
    }
  }

  .hamburger-container {
    display: flex;
    justify-content: flex-end;

    .hamburger {
      color: $white;
      display: block;
      font-size: $large-font;

      @include breakpoint($lap) {
        display: none;
      }
    }
  }

  .menu-content {
    display: flex;
    justify-content: center;
  }

  .menu-item {
    display: none;
    color: $white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: $base-font-size;

    @include breakpoint($lap) {
      display: block;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.is-active {
      color: $white;
    }
  }

  .expanded-container {
    overflow: hidden;

    &:hover .sub-menu {
      display: block;
    }

    .menu-item {
      font-size: $base-font-size;
      border: none;
      outline: none;
      color: $white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      display: none;

      @include breakpoint($lap) {
        display: block;
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      background-color: lighten($primary, 10%);
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: 2.5em;

      .menu-item {
        color: $white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex: 0 0 33.33%;
  background-color: $primary;
  margin-top: $unit * 4;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include breakpoint($lap) {
    flex: 0 0 25%;
  }

  .footer-info {
    font-size: $xsmall-font;
    color: $white;
    background-color: $primary;
    width: 100%;
    max-width: 33.33333%;
    padding-left: $unit * 2;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($lap) {
      max-width: 25%;
    }
  }

  .region-footer {
    width: 100%;
    max-width: 66.66666%;

    @include breakpoint($lap) {
      max-width: 75%;
    }

    .menu {
      overflow: hidden;
      background-color: $primary;
      padding: $unit * 2;
      text-align: center;

      .hamburger {
        display: none;
      }

      .menu-content {
        display: flex;
        justify-content: flex-end;
        position: relative;
        flex-direction: column;
        text-align: center;

        @include breakpoint($lap) {
          flex-direction: row;
        }

        .menu-item {
          color: $light-gray;
          text-decoration: none;
          font-size: $xsmall-font;
          padding: $unit;
          display: block;

          &:hover,
          &:focus {
            text-decoration: underline;
            cursor: pointer;
          }

          &.is-active {
            color: $white;
          }
        }
      }
    }
  }
}
