ul.menu {
  background-color: $primary;
  text-align: center;
  margin: 0;

  li.menu-item {
    display: inline-block;
    margin: 20px;
    position: relative;

    &:hover ul {
        display: block;
        outline: 2px solid hotpink;
        position: absolute;
      }

    a {
      display: block;
      &.is-active {
        color: $white;
      }
    }

    ul {
      display: none;
      left: 0;

      li {
        display: block;
        position: relative;
        text-align: left;
        width: 200px;
        margin: 0;
        padding: 15px 10px;
        background-color: $accent-green;
      }
    }
  }
}
