.menu {
  overflow: hidden;
  background-color: $primary;

  &.responsive {
    position: relative;

    .hamburger {
      position: absolute;
      right: 0;
      top: 0;
    }

    .menu-content {
      @include breakpoint($lap) {
        display: flex;
        flex-direction: row;
      }
    }

    .menu-item {
      float: none;
      display: block;
    }

    .expanded-container {
      float: none;

      &:hover .sub-menu {
        display: block;
      }

      .sub-menu {
        position: relative;
        top: 0;
        display: block;
        text-indent: 10px;

        @include breakpoint($lap) {
          display: none;
          text-indent: 0;
        }
      }

      .menu-item {
        display: block;
        width: 100%;
      }
    }
  }

  .hamburger {
    color: $white;
    float: right;
    display: block;
    font-size: $large-font;

    @include breakpoint($lap) {
      display: none;
    }
  }

  .menu-item {
    float: left;
    display: none;
    color: $white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    @include breakpoint($lap) {
      display: block;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.is-active {
      color: white;
    }
  }

  .expanded-container {
    float: left;
    overflow: hidden;

    &:hover .sub-menu {
      display: block;
    }

    .menu-item {
      font-size: 17px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      display: none;

      @include breakpoint($lap) {
        display: block;
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      background-color: $accent-green;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      top: 2.5em;

      .menu-item {
        float: none;
        color: $white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
