.view-articles {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint($palm) {
      flex-direction: row;
    }

    .views-row {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  .card-container {
    @include breakpoint($desk) {
      width: 75%;
    }
  }
}
