.inline-field-label {
  color: $primary;
  padding: $unit;
  margin-right: $unit;
  display: inline;

  .field__label,
  .field__value {
    display: inline;
    text-transform: uppercase;
  }

  .field__label {
    padding-right: 0;
    font-weight: bolder;
  }
}
