*,
:after,
:before {
  box-sizing: border-box;
}

.main,
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($palm) {
     max-width: 460px;
  }
  @include breakpoint($lap) {
    max-width: 615px;
  }
  @include breakpoint($desk) {
    max-width: 810px;
  }
  @include breakpoint($desk-wide) {
    max-width: 996px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint($desk) {
    flex-direction: row;
  }
}

.breakout {
  margin-right: -50vw;
  margin-left: -50vw;
  right: 50%;
  left: 50%;
  position: relative;
  width: 100vw;
}

blockquote {
  font-size: 22px;
  line-height: 39px;
  font-weight: 800;
  color: $primary;
}

.u-o-2 > * + * {
    margin-top: 16px;
}
