*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height:100%;
  position: relative;
}

.layout-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 65px;
}

.main,
.container {
  width: 100%;
  padding-left: $unit;
  padding-right: $unit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $unit * 4;

  @include breakpoint($palm) {
     max-width: 460px;
  }
  @include breakpoint($lap) {
    max-width: 615px;
  }
  @include breakpoint($desk) {
    max-width: 810px;
  }
  @include breakpoint($desk-wide) {
    max-width: 996px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;

  @include breakpoint($desk) {
    flex-direction: row;
  }
}

.breakout {
  margin-right: -50vw;
  margin-left: -50vw;
  right: 50%;
  left: 50%;
  position: relative;
  width: 100vw;
}

blockquote {
  font-size: 22px;
  line-height: 39px;
  font-weight: 800;
  color: $primary;
}

hr {
  border: 0.5px solid #e0dfe3;
  margin-bottom: 0;
}

.u-o-2 > * + * {
    margin-top: $unit * 2;
}

.u-o-3 > * + * {
  margin-top: $unit * 3;
}
