.button {
  cursor: pointer;
  color: $white;
  display: block;
  padding: 0.8rem 1rem;
  border: 0;
  vertical-align: middle;
  border-radius: 3px;
  transition: 0.5s;
}

.button--primary {
  background-color: $light-green;

  &:hover,
  &:focus {
    background-color: $dark-green;
  }
}

.button--secondary {
  background-color: $secondary;

  &:hover,
  &:focus {
    background-color: $dark-purple;
  }
}

.button--tertiary {
  background-color: $dark-gray;
  color: white;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.button-link {
  background-color: $primary;
  padding: $unit * 2;
  display: inline-block;

  &:hover,
  &:focus {
    background-color: $dark-gray;
    text-decoration: underline;
    color: $white;
  }
}
