table {
  caption {
    font-size: 22px;
    line-height: 39px;
    font-weight: 600;
    margin: 0 0 20px;
    text-decoration: none;
    text-transform: none;
    font-family: $header-font-family;
    color: $primary;
  }
  thead {
    background-color: $dark-gray;
    color: $white;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: $base-font-family;

    th {
      vertical-align: baseline;
      padding: 18px;
    }
  }
  tbody {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: $base-font-family;
    vertical-align: baseline;

    tr {
      padding-left: 20px;
      background-color: $light-gray;
      color: $primary;
      border-bottom: 2px solid $dark-gray;

      td {
        padding: 18px;
        vertical-align: inherit;
      }
    }
  }
}
