  $black: #000;
  $white: #fff;
  $light-grey: #ccc;
  $dark-grey: #5B5B5B;
  $primary: #78d635;
  $secondary: #573c81;
  $light-green: #0bbe5f;
  $dark-green: #0B7038;
  $dark-purple: #2F2851;

  // For social icons.
  // For hover/focus state colours, do darken($color, 12.5%).
  $twitter: #55acee;
  $linkedin: #0077b5;
  $facebook: #3b5999;
  $pinterest: #bd081c;
  $googleplus: #dd4b39;
  $youtube: #cd201f;
  $instagram: #e4405f;
