////
/// @group Typesetting
////

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/// The base font size for the site.
$base-font-size: 16px;
$small-font: 14px;
$medium-font: 18px;
$large-font: 32px;
/// The base line height for the site.
$base-line-height:  1.6rem;

/// The base font family for the site.
$base-font-family: 'Lato', sans-serif;
@font-face {
  font-family: ‘Lato’;
  src: url('../../../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$header-font-family: 'Fredoka One', cursive;
@font-face {
  font-family: ‘Fredoka One’;
  src: url('../../../fonts/Fredoka_One/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/// The base font color, to be used as the default throughout the site.

/// Modular scale base size.
/// @link https://github.com/modularscale/modularscale-sass
$ms-base: 1rem;
/// Modular scale ratio.
/// @link https://github.com/modularscale/modularscale-sass
$ms-ratio: 1.25;

// Typesetting setup for vertical rhythm (see core/04_typesettings).
// To turn on debugging us @include debug-vertical-alignment;

/// The vertical grid unit. Margin, padding, and line-height are set to multiples
/// of this value. This is the value that determines the baseline for our vertical
/// rhythm. The default value of 8px allows more fine tuned designs that still
/// obey vertical rhythm.
$base-vertical-unit: 8px;

/// The value that multiplies the $base-vertical-unit to get the $base-line-height.
/// This gives type an ideal line-height.
$base-line-multi: 3;

/// Paragraph setting that you can turn on or off the indent of the first line
/// of a new paragraph.
$paragraph-indent: true;

///  Paragraph setting that you can turn on or off to have your paragraphs ragged
/// right or justified.
$paragraph-justify: true;
