.field--name-field-bp-summary {
  font-size: $medium-font;
}

.hero-image-container {
  height: 527px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.hero-image-text {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display:flex;
  align-items: center;

  .article-title {
    padding: 15px;
    background-color: transparentize($primary, 0.4);
    font-size: $xlarge-font;
    font-weight: 600;
    position: absolute;
    text-align: left;
    color: $white;
    max-width: 90%;
  }

  .author-name {
    padding: 10px;
    background-color: transparentize($primary, 0.4);
    color: $white;
    text-transform: uppercase;
    position: absolute;
    text-align: left;
    margin-top: 64px;

    p {
      display: inline;
    }
  }
}
