.field--name-field-bp-summary {
  font-size: $medium-font;
}

.hero-image-container {
  height: 527px;
  margin-bottom: 30px;


  .article-title {
    padding: 15px;
    background-color: transparentize($primary, 0.4);
    margin: 2px;
    font-size: $xlarge-font;
    font-weight: 600;
    position: absolute;
    left: 5vw;
    bottom: 5vw;
    text-align: left;
    color: $white;
  }

  .author-name {
    padding: 10px;
    background-color: transparentize($primary, 0.4);
    margin: 2px;
    color: $white;
    text-transform: uppercase;
    width: auto;
    position: absolute;
    left: 5vw;
    bottom: 1.5vw;
    text-align: left;
  }
}
