.node--type-article {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint($desk) {
    width: 75%;
    flex-direction: row;
  }

  .teaser-content {
    background-color: #f1f0f4;
    padding: 0 30px 30px 30px;
    width: 100%;

    @include breakpoint($desk) {
      height: 400px;
    }

    p {
      color: $primary;
    }

    .field--name-field-a-summary {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .teaser-link {
      background-color: $primary;
      padding: 15px;
      margin-top: 20px;
      width: 150px;
      color: white;
    }
  }

  .teaser-image-container {
    img {
      width: 100%;
      object-fit: cover;

      @include breakpoint($desk) {
        width: 250px;
      }
    }
  }
}
