.author-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($lap) {
    flex-direction: row;
    align-items: flex-start;
    margin-top: $unit *4;
  }

  .author-container {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: $unit *4;
    width: 100%;

    @include breakpoint($lap) {
      flex: 0 0 30%;
      max-width: 30%;
    }

    .cover-image-container {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .author-info-container {
      padding: $unit $unit*3;

      .profile-image {
        width: 30%;
        max-width: 290px;
        margin-top: -15%;
        z-index: 1;

        @include breakpoint($lap) {
          width: 100%;
          margin-top: -30%;
        }

        @include breakpoint($desk) {
          width: 50%;
        }

        img {
          border-radius: 50%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .views-element-container {
    @include breakpoint($lap) {
      flex: 0 0 66%;
      max-width: 66%;
    }
  }
}
