.author-body {
  .cover-image {
    height: 350px;
    margin: -$unit -50% 0 -50%;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .author-info-container {
    margin-bottom: $unit *4;
    padding: $unit $unit*4;
    padding-left: 0;
    background-color: $light-gray;

    @include breakpoint($lap) {
      display: flex;
      flex-direction: row;
    }

    .profile-image {
      width: 50%;
      max-width: 290px;
      margin-top: -30%;

      @include breakpoint($lap) {
        width: 200%;
        margin-top: -15%;
      }

      @include breakpoint($desk) {
        width: 100%;
      }

      img {
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
      }
    }

    .author-text {
      margin-left: $unit *4;
    }
  }
}
