.recipe--full {

  .row {
    padding-right: $unit * 2;
    padding-left: $unit *2;
  }

  .node__content {
    margin-right: 0;
    width: 100%;

    @include breakpoint($desk) {
      width: 70%;
    }

    .recipe-image {
      width: 100%;
      object-fit: cover;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .inline-field-label {
      background-color: $light-gray;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
    }

    .recipe-summary {
      font-size: $medium-font;
    }
  }

  .recipe-sidebar {
    background-color: $light-gray;
    height: 350px;
    width: 100%;

    &:hover,
    &:focus {
      color: $primary;
      background-color: darken($light-gray, 10%);
    }

    @include breakpoint($lap) {
      width: 28%;
      margin-left: 22px;
    }

    .recipe-author-container {

      .author-image-container {
        display: flex;
        justify-content: center;
        padding: $unit *2;

        img {
          border-radius: 50%;
        }
      }

      .recipe-author-text-container {
        display: flex;
        flex-direction: column;

        .author-name {
          color: $primary;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          display: flex;
          justify-content: center;

        }

        .author-quote {
          padding: $unit *2;
          line-height: 1.5em;
          max-height: 8.2em;
          text-align: center;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
