.recipe--full {

  .row {
    padding-right: $unit * 2;
    padding-left: $unit *2;
  }

  .node__content {
    margin-right: 0;
    width: 100%;

    @include breakpoint($desk) {
      width: 70%;
    }

    .recipe-image {
      width: 100%;
      object-fit: cover;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .inline-field-label {
      background-color: $light-gray;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
    }

    .recipe-summary {
      font-size: $medium-font;
    }
  }

  .recipe-sidebar {
    width: 100%;
    overflow-y: auto;
    height: auto;
    margin-top: $unit * 2;

    @include breakpoint($desk) {
      width: 25%;
      margin-top: 0;
      margin-left: $unit * 4;
    }

    .recipe-author-container {
      background-color: $light-gray;
      padding: $unit;
      margin-bottom: $unit;

      .author-image-container {
        justify-content: center;
        display: flex;

        img {
          border-radius: 50%;
        }
      }

      .recipe-author-text-container {
        padding-bottom: $unit;

        .author-name {
          color: $primary;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          padding: $unit $unit * 3;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          p {
            display: inline;
            padding-right: $unit /2;
            margin: 0;
          }
        }

        .author-quote {
          text-align: center;
          margin-top: $unit;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
