.recipe--full {

  .node__content {
    margin-right: 0;
    width: 100%;

    @include breakpoint($desk) {
      width: 75%;
    }

    .recipe-image {
      width: 100%;
      object-fit: cover;
      height: 350px;
      background-repeat: no-repeat;
    }

    .field--name-field-r-cooking-time,
    .field--name-field-r-serves,
    .field--name-field-r-cost {
      background-color: $light-grey;
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
      padding: $unit;
      display: inline-block;
      margin-right: $unit;

      p {
        display: inline;
      }

      .field__label {
        display: inline;
      }

      .field__item {
        display: inline;
      }
    }

    .field--name-field-r-summary {
      font-size: $medium-font;
    }
  }

  .recipe-sidebar {
    width: 100%;
    padding-right: $unit * 2;
    padding-left: $unit * 2;
    overflow-y: auto;
    height: auto;
    margin-top: $unit * 2;

    @include breakpoint($desk) {
      top: 0;
      right: 0;
      position: static;
      width: 25%;
      margin-top: 0;
    }

    .recipe-author-container {
      background-color: $light-grey;
      padding: $unit;
      margin-bottom: $unit;

      .author-image-container {
        justify-content: center;
        display: flex;

        img {
          border-radius: 50%;
        }
      }

      .author-name {
        color: $primary;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding: $unit $unit * 3;

        p {
          display: inline;
        }

        .field--name-field-r-content-author {
          display: inline;
        }
      }

      .author-quote {
        text-align: center;
        margin-top: $unit;
        padding: $unit $unit * 3;
      }
    }
  }
}

.recipe--teaser {
  display: flex;
  flex-direction: column;
  background-color: #f1f0f4;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .recipe-card-wrapper {

    .teaser-image-container {
      position: relative;

      .highlighted-label {
        background-color: transparentize($primary, 0.4);
        color: $white;
        text-transform: uppercase;
        text-align: left;
        margin-top: $unit * 3;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 220px;
      }
    }

    .node__content {
      width: 100%;
      padding: $unit * 3;

      .recipe-labels {
        display: flex;
        justify-content: center;
        align-content: center;
        text-transform: uppercase;
        color: $primary;

        .field--name-field-r-cooking-time {
          background-color: $white;
          font-size: $xsmall-font;
          text-align: center;
          margin: $unit;
          padding: 0 $unit;

          .field__item {
            display: block;
          }
        }
        .field--name-field-r-serves {
          display: flex;
          align-items: center;
          background-color: $white;
          font-size: $xsmall-font;
          text-align: center;
          margin: $unit;
          padding: $unit / 2 $unit;
        }
      }
    }
  }
}

.recipe-teaser-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint($desk) {
    flex-direction: row;
  }

  .views-row {
    display: block;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include breakpoint($desk) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}
