<li class="accordion-item" data-accordion-item>
  <button class="accordion-title">{{ accordion_title }}</button>
  <div class="accordion-content" data-tab-content>
    {{ accordion_content }}
  </div>
</li>
