{% set button_attributes = button_attributes|default(create_attribute()).addClass([
  'button',
  button_type|default('button--primary'),
]) %}
<div {{ button_attributes }}>
  <a class="button-link" href="{{ button_url }}">{{ button_text }}</a>
</div>
