{% set button_attributes = create_attribute() %}
{% set button_attributes = button_attributes.addClass([
  'button',
  button_type|default('button-link'),
]) %}
<a href="{{ button_url }}" {{ button_attributes }}>{{ button_text }}</a>
