{% set field_label_attributes = attributes|default(create_attribute()).addClass([
  'inline-field-label'
]) %}
<div {{ field_label_attributes }}>
  <div class="field__label">{{ field_label }}</div>
  <div class="field__value">{{ field_value }}</div>
</div>
