.card-container {
  background-color: $light-gray;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .card-content {
    width: 100%;
    padding: $unit * 3;

    .card-labels {
      display: flex;
      flex-wrap: wrap;

      .inline-field-label {
        background-color: $white;
        width: fit-content;
        margin-bottom: $unit;
      }
    }
  }

  .card-image-container {
    flex-shrink: 0;
    width: 100%;

    .highlighted-label {
      background-color: transparentize($dark-purple, 0.2);
      color: $white;
      text-transform: uppercase;
      text-align: left;
      float: right;
      position: absolute;
      right: 0;
      top: $unit * 3;
      z-index: 1;
      padding: 0 $unit;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &.vertical {
    display: block;

    @include breakpoint($palm) {
      flex-direction: row;
      display: flex;
    }

    .card-image-container {
      @include breakpoint($palm) {
        width: 33.33333%;
      }

      img {
        display: none;

        @include breakpoint($palm) {
          display: block;
        }
      }
    }
  }
}
