.hero-container {
  height: 527px;
  overflow: hidden;
  margin-bottom: $unit * 4;

  .hero-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: 50%;
  }

  .hero-image-text {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;

    .hero-image-content {

      .page-title {
        padding: $unit * 2;
        background-color: transparentize($primary, 0.2);
        font-size: $xlarge-font;
        font-weight: 600;
        position: relative;
        text-align: left;
        color: $white;

        h1 {
          margin: 0;
        }
      }

      .hero-subtext,
      .hero-pretext {
        padding: $unit;
        background-color: transparentize($primary, 0.2);
        color: $white;
        text-transform: uppercase;
        text-align: left;
        margin-top: $unit * 3;
        display: inline-block;

        &:hover {
          background-color: transparentize($white, 0.2);
          color: $primary;

          a {
            color: $primary;
          }
        }

        a {
          color: $white;
        }

        p {
          display: inline;
        }

        .field {
          display: inline;
        }
      }

      .hero-labels {
        display: flex;
        flex-wrap: wrap;

        .inline-field-label {
          background-color: transparentize($white, 0.2);
        }
      }
    }
  }
}
