.teaser-collection-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &.vertical {
    margin-left: -15px;
  }

  .collection-row {
    display: block;
    position: relative;
    width: 100%;

    &.vertical {
      margin-bottom: $unit * 2;
      padding-left: 15px;

      @include breakpoint($lap) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include breakpoint($desk) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }

    &.horizontal {
      &:nth-of-type(even) {
        .card-image-container {
          order: 2;
        }
      }
    }
  }
}
