form {
  background-color: $white;
  color: $dark-gray;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  padding: $unit * 2;
  font-size: 12px;
  width: 100%;
  margin: 0 auto;

  .form-item {

    label {
      font-size: 12px;
      color: $dark-gray;
    }

    .form-text,
    .form-textarea,
    .form-select,
    .form-email,
    .form-date {
      display: block;
      width: 100%;
      margin: $unit auto;
      color: $dark-gray;
      padding: 12px;
      background-color: $light-gray;
      border: 0;
      border-bottom: 2px solid $dark-gray;
      font-size: 12px;

      &:hover {
        background-color: darken($light-gray, 3);
      }
      &:focus {
        border-bottom: 2px solid $secondary;
        color: $secondary;
      }
    }

    .form-file {
      display: flex;
      flex-direction: column;
    }

    .description {
      text-align: left;
      margin-top: $unit;
    }
  }

  .form-item-date,
  .form-item-password {
    max-width: 33em;
  }

  .form-radio,
  .form-checkbox {
    margin-right: $unit;
  }

  .fieldset-legend {
    font-size: 20px;
  }

  .webform-button--submit.button {
    background-color: white;
  }
}
