a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $secondary;
    cursor: pointer;
  }
}

.menu {
  a {
    text-decoration: none;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

